<template>
    <div>
        <Login></Login>
    </div>
</template>

<script lang="ts" setup>
import Login from '@/components/login/Login.vue';
</script>

<style scoped>
#login{
    margin: 0 auto;
    text-align: center;
}
</style>
